@font-face {
	font-family: "Dhivehi";
	src: url('fonts/faruma.ttf')
}

.en {
	font-family: Times
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Dhivehi;
	font-size: 16px;
}

.footer{
 height:100px;
 margin-top:47px;
 padding: 0 0 0 0;
 background: lightgray;
}



@media (max-width: 768px) {
    .jumbotron {
    margin: 100px 0 10px 0;
       }

.footer{
 height:200px;
 margin-top:100px;
 padding: 0 0 0 0;
 background: lightgray;
}



@media (max-width: 992px) {
    
}


@media (max-width: 1200px) {
    
    
}


/* figure */
figure {
	position: relative;
	margin: 1.5em 0;
	border-top: 1px dotted #0098d8;
	border-bottom: 1px dotted #0098d8;
}
figure dt {
	margin-top: .75em;
} /* to check: ?? do I mean dl? */
figure dd {
	margin-left: 0;
	padding-left: 0;
}
figure img, figure iframe {
	margin: .75em auto;
}
figure blockquote {
	margin: 1.5em 0px .75em -1.5em;
}
figure ul, figure ol {
	margin: .75em 0 .75em 2em;
}
figure .semantic-list {
  margin-left: 0;
}
figure li ul, figure li ol {
	margin: 0 0 0 1.5em;
}
figure p, figure pre {
	margin-top: .75em;
	margin-bottom: .75em;
}
figure p+p {
	margin-top: 1.5em;
}
figcaption {
	clear: left;
	margin: .75em 0;
	text-align: center;
	font-style: italic;
	line-height: 1.5em;
}




